#bottom {
  height: 60%;
  width: 100%;
  padding-left: 7em;
  transition: all 0.5s;
}

#title {
  line-height: 1;
  font-size: 9vh;
  margin: 0;
  font-weight: 900;
}

.minitext {
  font-size: 1.2em;
  font-weight: 300;
  width: 20em;
  letter-spacing: 2px;
}

#startBtn {
  width: 9em;
  background-color: #fff;
  font-size: 1.4em;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  border-radius: 0.1em;
}

a {
  text-decoration: none;
  color: #ff5a5e;
}

.phoneLink {
  color: #fff;
}

#bottom a.phone p {
  margin: 0;
}

/***************************/
/* media queries */
/***************************/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .letter {
    font-size: 40vw;
    opacity: 0.4;
  }
  #top {
    height: 10vh;
  }
  #bottom {
    padding-left: 4em;
  }
  ul {
    padding: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .letter {
    font-size: 40vw;
    opacity: 0.4;
  }
  #top {
    height: 10vh;
  }
  #bottom {
    padding-left: 4em;
  }
  ul {
    padding: 0;
  }
  .minitext {
    width: 12em;
  }
  #title {
    font-size: 8vh;
  }
  #flag {
    display: none;
  }
  #bottom {
    height: 80vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  #top {
    height: 10vh;
  }
  #bottom {
    padding-left: 4em;
  }
  ul {
    padding: 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}
