.scheduleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  font-size: 3.4em;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 0;
}

.scheduleButton a {
  color: #c73636;
}

/***************************/
/* media queries */
/***************************/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  #servicesPage {
    margin: 8em 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}
