.priceCardContainer {
  width: 76vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.smallTextPriceCard {
  font-size: 2.8em;
  width: 100%;
  font-weight: 100;
  margin-bottom: 54px;
  line-height: 1;
  color: #444444;
}

.priceCard {
  position: relative;
  margin: 1em;
  height: 18em;
  width: 45%;
  background-color: #222;
  border-radius: 0.2em;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,90,95,1) 60%);
  position: relative;
  min-width: 360px;
}

.cardPrice {
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
  padding-top: 2em;
}

.cardPrice p {
  color: #fff;
  font-size: 4em;
  margin: 0;
  font-weight: 800;
  line-height: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  position: relative;
  top: -2em;
}

li {
  font-size: 1.6em;
  font-weight: 100;
  position: relative;
  left: 40px;
  text-decoration: none;
  color: #444444;
  width: 90%;
  margin-top: 1em;
  line-height: 1;
}

/***************************/
/* media queries */
/***************************/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}
