.priceCardContainer {
  width: 76vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.smallTextPriceCard {
  font-size: 2em;
  width: 100%;
  font-weight: 800;
  margin-bottom: 54px;
  line-height: 1;
  color: #444444;
}

.priceCard {
  position: relative;
  margin: 1px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  height: 18em;
  width: 33.33%;
  background-color: #222;
  border-radius: 0.2em;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,90,95,1) 60%);
  position: relative;
  min-width: 360px;
}

i {
  width: 5em;
  position: absolute;
  top: 0.25em;
  left: 0.5em;
  font-size: 7em;
  color: #ffffff;
}

.cardPrice {
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
  padding-top: 2em;
}

.cardPrice p {
  color: #fff;
  font-size: 4em;
  margin: 0;
  font-weight: 800;
  line-height: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  position: relative;
  top: -2em;
}

li {
  font-size: 1.6em;
  font-weight: 100;
  position: relative;
  left: 40px;
  text-decoration: none;
  color: #444444;
  width: 90%;
  margin-top: 1em;
  line-height: 1;
}
