.cardRow {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.priceCardContainer {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.smallTextPriceCard {
  font-size: 1.8em;
  width: 100%;
  font-weight: 100;
  margin-bottom: 54px;
  line-height: 1;
  color: #444444;
}

.priceCard {
  position: relative;
  margin: 1em;
  height: 18em;
  width: 26em;
  background-color: #222;
  border-radius: 0.2em;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,90,95,1) 60%);
  position: relative;
  min-width: 94vw;
}

.imgBox {
  height: 18em;
  width: 26em;
  overflow: hidden;
  min-width: 94vw;
}

.imgBox > img {
  height: auto;
  width: 100%;
  opacity: 1;
  left: 0;
}

.cardPrice {
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
  padding-top: 2em;
}

.cardPrice p {
  color: #fff;
  font-size: 4em;
  margin: 0;
  font-weight: 800;
  line-height: 1;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  font-size: 1.6em;
  font-weight: 300;
  position: relative;
  left: 40px;
  text-decoration: none;
  color: #444444;
  width: 90%;
}

/***************************/
/* media queries */
/***************************/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .priceCardContainer {
    width: 74vw;
    display: flex;
    justify-content: center;
  }
  .imgBox {
    width: 100%;
  }
  .imgBox img {
    position: relative;
    left: -6em;
    width: auto;
    height: 120%;
    width: auto;
    opacity: 1;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}
