.logoText {
	font-weight: bold;
	font-stretch: normal;
	font-size: 1rem;
	line-height: 50px;
	font-family: 'Raleway', sans-serif;
	color: #000;
	margin-left: 60px;
	text-align: right;
}

.logo {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 0;
}


.topnav {
    background-color: white;
    overflow: hidden;
		height: 5em;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
  height: 20px;
  line-height: 20px;
  padding-left:0;
  padding-right:0;
  margin:10px;
}

.topnav a:hover {
  background-color: #ddd;
  background:white;
  border-bottom: 1px solid lightgray;


}


.linksright {
  float: right;
  font-family: 'Raleway', sans-serif;
  color: #424242;
  margin-right: 15vw;
}
