.detailComponent {
  width: 100%;
  overflow: hidden;
  margin: 1em;
}

.detailSide {
  min-width: 20em;
  position: relative;
  overflow: hidden;
}

.detailSideImg {
  height: 20em;
}

.detailImg {
  width: 100%;
  height: auto;
  position: relative;
  top: -100%;
  left: 0;
}

.detailSideLi {
  font-size: 1.4em;
  font-weight: 400;
  width: 100%;
  align-self: center;
  line-height: 1;
  margin: 0.6em 0;
}

.contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/***************************/
/* media queries */
/***************************/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .largeText {
    font-size: 14em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1100px) {
  .largeText {
    opacity: 0.1;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}
