* {
  font-family: 'Lato', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fffbfb;
}

.hideBeforeFadeInSetup {
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s;
}

.hideBeforeFadeIn {
  top: 2em;
  left: 2em;
  opacity: 0;
  transform: scale(0.9);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
